<div class="news">

  <table class="table table-sm table-borderless">

    {% for announcement in site.data.news_list %}
      <tr>
        <th scope="row" style="width: 20%">{{ announcement.date | date: '%b %d, %Y' }}</th>
        <td>{{ announcement.content | remove: '<p>' | remove: '</p>' | emojify }}</td>
      </tr>
    {% endfor %}

  </table>
</div>