<div class="news">
  <table class="table table-sm table-borderless">
    {% for item in site.data.news_list %}
      <tr>
        <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
        <td>{{ item.content | remove: '<p>' | remove: '</p>' | emojify }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
